#các thư viện cần thiết
#opencv-python: thư viện xử lý ảnh và video
#pyzbar: thư viện quét mã vạch
#tk: thư viện tkinter
#sqlite3: thư viện xử lý cơ sở dữ liệu
# cách chạy code pip install -r requirements.txt
python 3.13.3
opencv-python
pyzbar
tk
sqlite3
reportlab
pytz
#thư viện để xử lý dữ liệu excel
pandas
#thư viện để vẽ biểu đồ
matplotlib
pillow
pyinstaller
openpyxl